body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.background-image {
    background: url("https://mir-s3-cdn-cf.behance.net/project_modules/1400/539769138315137.621b445bd2774.png") no-repeat center;
    background-size: cover;
    width: 100%;
    height: 888px;
    display: flex;
}

div {

}

.content{
    margin-top: 180px;
    margin-left: 685px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    background-color: #fff;
    width: 300px;
    height: 30px;
    border-radius: 30px;
    padding-top: 10px;
    padding-bottom: 20px;
}
